<div class="trade-account-form">
  <div class="title">
      <h3>Open A Trading Account</h3>
      <p>Are you interested in buying from us?</p>
  </div>
  <form action="#" method="post">
      <div class="row">
          <label for="outlet-name">Your outlet name</label>
          <input type="text" name="outlet-name" id="outlet-name" placeholder="Enter your outlet name">
      </div>
      <div class="row">
          <label for="name">Your name</label>
          <input type="text" name="name" id="name" placeholder="Enter your outlet name">
      </div>
      <div class="row">
          <label for="address">Your address</label>
          <textarea name="address" id="address" cols="30" rows="4" placeholder="Enter your address"></textarea>
      </div>
      <div class="row">
          <label for="number">Contact Number</label>
          <input type="text" name="number" id="number" placeholder="Enter contact number">
      </div>
      <div class="row">
          <label for="email">Your email</label>
          <input type="email" name="email" id="email" placeholder="Enter your email address">
      </div>
      <div class="row">
          <input type="submit" class="submit" value="Send">
      </div>
  </form>
</div>

<div class="brand-information-form">
    <div class="title">
        <h3>Tell Us About Your Brand</h3>
        <p>Craft, artisanal and authentic brands are at the heart of what we do. If you need support in getting your brands into on-trade outlets then tell us your story</p>
    </div>
    <form action="#" method="post">
        <div class="row">
            <label for="brand-name">Your brand name</label>
            <input type="text" name="brand-name" id="brand-name" placeholder="Enter your brand name">
        </div>
        <div class="row">
          <label for="product-description">Product description</label>
          <textarea name="product-description" id="product-description" cols="30" rows="4" placeholder="Enter your product description"></textarea>
      </div>
        <div class="row">
            <label for="name">Your name</label>
            <input type="text" name="name" id="name" placeholder="Enter your company name">
        </div>
        <div class="row">
            <label for="number">Contact Number</label>
            <input type="text" name="number" id="number" placeholder="Enter contact number">
        </div>
        <div class="row">
            <label for="email">Your email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address">
        </div>
        <div class="row">
            <input type="submit" class="submit" value="Send">
        </div>
    </form>
  </div>


  <div class="subscribe-social-bar">
      <div class="container">
        <h3>Sign Up to our Newsletter for exclusive Promotions and Deals</h3>
        <form action="#">
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <input type="submit" class="submit" value="Signup">
        </form>
      </div>
  </div>